body {
    overflow: hidden;
}
#diver {
    position: absolute;
    left:-100px; top: 0px;
    animation-name: diver;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#fish1 {
    position: absolute;
    right: -100px; bottom: 300px;
    animation-name: fish1;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#fish2 {
    position: absolute;
    right: -100px; bottom: 400px;
    animation-name: fish1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#shark {
    position: absolute;
    right: -100px; bottom: 300px;
    animation-name: fish1;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#seaweed {
    position: fixed;
    left: 0%; bottom: -20px;
    display: flex;
}
@keyframes diver{
    0% {left: 0%; top: 0%; transform: scaleX(1);}
    24% {left: 25%; top: 50%; transform: scaleX(1);}
    25% {left: 25%; top: 50%; transform: scaleX(-1);}
    49%{left: 0%; top: 75%; transform: scaleX(-1);}
    50%{left: 0%; top: 75%; transform: scaleX(1);}
    69% {left: calc(100% - 300px); top: 25%; transform: scaleX(1);}
    70% {left: calc(100% - 300px); top: 25%; transform: scaleX(-1);}
    99% {left: 0%; top: 0%; transform: scaleX(-1);}
    100% {left: 0%; top: 0%; transform: scaleX(1);}
}
@keyframes fish1{
    0% {right: 0%; transform: scaleX(-1);}
    49% {right: calc(100% - 150px); transform: scaleX(-1);}
    50% {right: calc(100% - 150px); transform: scaleX(1);}
    99% {right: 0%; transform: scaleX(1);}
    100% {right: 0%; transform: scaleX(-1);}
}
